@import '../styles';
* {
  box-sizing: border-box;
}

.homeMain {
  background-color: $gray-background;
  margin-bottom: 435px;
  position: relative;
  box-sizing: border-box;
}

.hero {
  background-color: #DDDDDD;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  .heroPic {
    width: 100%;
    height: 100%;
    background-image: url("../../styles/images/home/hero_image_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
  }
}

.adPop {
  box-sizing: border-box;
  background-color: #fde9e5;
  padding-left: 100px;
  text-align: center;
  width: 100%;
  height: 40px;
    line-height: 40px;
  p {
    font-family: $header;
    color: black;
    font-size: 15px;
    margin-bottom: 15px;
  }
}

.homeProducts {
  font-family: $header;
  padding-left: 100px;
  padding-top: 50px;
  // height: 100%;
  .innerWrap {
    // width: 100%;
    padding: 0 25px;
    margin: 0 auto;
    h2 {
      text-align: center;
      font-size: 24px;
      font-weight: 100;
      line-height: 1.4;
      margin-bottom: 0.5em;
      font-family: 'Nunito', sans-serif;
      letter-spacing: 3px;
    }
    .grid {
      display: flex;
      margin: 0;
      padding: 0;
      flex-wrap: wrap;
      margin-left: -25px;
      .grid-item {
        box-sizing: border-box;
        padding-left: 25px;
        width: 25%;
        float: left;
        vertical-align: top;
        a {
          display: block;
          margin: 0 auto;
          padding: 0 15px 80px;
          position: relative;
          background-image: url("../../styles/images/icons/shadow.png");
          background-size: 100% auto;
          background-position: center 90%;
          background-repeat: no-repeat;
          text-decoration: none;
          img {
            display: block;
            margin: 0 auto;
            position: relative;
            top: 0;
            max-width: 100%;
            transition: top 0.5s;
          }
          .productInfo {
            text-align: center;
            text-transform: uppercase;
            font-family: $header;
            margin-left: -15px;
            position: absolute;
            transition: all 0.5s;
            width: 100%;
            bottom: 0px;
            opacity: 0;
            h3 {
              font-size: 12px;
              line-height: 1.4;
              color: black;
              margin-bottom: 0.5em;
            }
            p {
              color:#c5c5c5;
              margin: 0 0 15px 0;
            }
          }
        }
        a:hover {
          background-image: none;
          img {
            top: -30px;
          }
          .productInfo {
            bottom: 50px;
            opacity: 1;
          }
      }
    }
  }
  .homeProductsFooter {
    text-align: center;
    margin: 0 0 40px 0;
  }
}
}

.homeCollections {
  background: $near-white-background;
  padding-left: 100px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  .innerWrap2 {
    padding: 25px 25px 0 25px;
    width: 100%;
    .grid {
      margin-left: -25px;
      padding: 0;
      box-sizing: border-box;
      .grid-item {
        min-height: 1px;
        width: 33.33%;
        padding-left: 25px;
        float: left;
        .collection {
          width: 100%;
          padding-top: 66%;
          height: 0;
          display: block;
          margin-bottom: 25px;
          overflow: hidden;
          position: relative;
          .foo {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
            transition: transform 0.8s;
          }
          .coll-bg {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            top: 0;
            background: rgba(255,255,255,0.3);
            opacity: 0;
            transition: all 0.5s;
          }
          .collection_inner {
            position: absolute;
            bottom: 20px;
            padding: 0 30px;
            transition: all 350ms;
            h2 {
              color: white;
              font-family: $headerlight;
              text-transform: uppercase;
              font-size: 24px;
              letter-spacing: 2px;
            }
            &.right {
              width: 100%;
              text-align: right;
            }
          }
          &:hover {
            .coll-bg {
              opacity: 1;
            }
          }
          &:hover {
            .foo {
              transform: scale(1.2);
            }
          }
        }
        .journal {
          box-sizing: border-box;
          width: 100%;
          height: 0;
          padding-top: calc(132% + 25px);
          background-size: cover;
          background-position: center;
          position: relative;
          overflow: hidden;
          display: block;
          .blogImage {
            position: absolute;
            top: 0;
            transition: transform 1s;
            width: 100%;
            height:100%;
            background-size: cover;
            background-position: center;
          }
          .blog_border {
            position: absolute;
            left: 30px;
            right: 30px;
            top: 30px;
            bottom: 30px;
            border: 1px solid rgba(255,255,255,0.4);
            .blog_inner {
              position: absolute;
              top: 50%;
              margin-top: -50px;
              width: 100%;
              padding: 0 30px;
              text-align: center;
              font-family: $headerlight;
              h3 {
                color: white;
                font-size: 18px;
                text-transform: uppercase;
                line-height: 1.4;
                letter-spacing: 1px;
              }
              h2 {
                color: white;
                font-size: 40px;
                text-transform: uppercase;
                line-height: 1.4;
                letter-spacing: 2px;
              }
              .slidebtn {
                margin-top: 10px;
                background-color: $pink-btn-text;
                box-shadow: inset 0 0 0 0 #333;
                &:hover {
                  box-shadow: inset 0 -100px 0 0 #333;
                }
              }
            }
          }
          &:hover {
            .blogImage {
              transform: scale(1.2);
            }
          }
        }
      }
    }
    &:after {
    content: '';
    display: table;
    clear: both;
    }
  }
}

.homeAbout {
  padding: 100px 0;
  padding-left: 100px;
  .content {
    width: 100%;
    max-width: 545px;
    margin: 0 auto;
    text-align: center;

    h2 {
      font-family: $headerlight;
      text-transform: uppercase;
      font-size: 24px;
      letter-spacing: 2px;
      margin-bottom: 0.5em;
      line-height: 1.4;
    }
    p {
      font-family: $headerlight;
      margin-bottom: 15px;
      color: #A8A8A8;
      font-size: 16px;
      line-height: 1.6;
    }
    a {

    }
  }
}

.homeInstagram {
  cursor: pointer;
  left: 100px;
  right: 0px;
  width: auto;
  position: relative;
  background-color: black;
  // height: 300px;
  margin-right: 100px;
  .instagram2 {
    padding-top: 33.333%;
    position: relative;
    background-size: cover;
  }
  .igBox {
    width: 33.333%;
    display: inline-block;
    float: left;
    position: relative;
    font: $header;
    color: white;
    text-align: center;
    .ig {
      width: 50%;
      padding-top: 50%;
      background-color: yellow;
      display: inline-block;
      float: left;
      background-size: cover;
      background-position: center;
      position: relative;
      .overlay {
        background-color: rgba(0,0,0,0.8);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: opacity 0.25s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        // font: $header;
        // color: white;
        .igIcon {
          padding: 5px 10px 0 5px;
          font-size: 18pt;
          margin-bottom: 9px;
        }
        .igLink {
          font-size: 10pt;
          line-height: 1;
          padding: 3px 6px;
          margin: 10px;
          margin-top: 37px;
          color: white;
          font-family: $header;
        }
        .igDate {
          margin-top: 10px;
          font-family: $header;
          font-size: 8pt;
          line-height: 8pt;
          letter-spacing: 1px;
        }
      }
      &:hover {
        .overlay {
          opacity: 1;
        }
      }
    }
    .overlayBg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,0.3);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      display: -webkit-flex;
      -webkit-flex-direction: column;
      -webkit-align-items: center;
      -webkit-justify-content: center;
      .igIcon {
        font-size: 30px;
        margin-bottom: 18px;
      }
      .igLink {
        font-family: $headerlight;
        font-size: 24px;
        line-height: 1.4;
        letter-spacing: 2px;

      }
    }
  }
  &:after {
  content: '';
  display: table;
  clear: both;
  }
}
// <section class="homeInstagram">
//   <div class="igBox instagram1">
//     <div class="ig">
//       <div class="overlay">
//
//       </div>
//     </div>
//     <div class="ig">
//       <div class="overlay">
//
//       </div>
//     </div>
//     <div class="ig">
//       <div class="overlay">
//
//       </div>
//     </div>
//     <div class="ig">
//       <div class="overlay">
//
//       </div>
//     </div>
//   </div>
//   <div class="igBox instagram2">
//
//   </div>
//   <div class="igBox instagram3">
//     <div class="ig">
//       <div class="overlay">
//
//       </div>
//     </div>
//     <div class="ig">
//       <div class="overlay">
//
//       </div>
//     </div>
//     <div class="ig">
//       <div class="overlay">
//
//       </div>
//     </div>
//     <div class="ig">
//       <div class="overlay">
//
//       </div>
//     </div>
//   </div>
// </section>

.mobile {
  display: none!important;
}



.slidebtn {
  background-color: black;
  display: inline-block;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  font-family: $header;
  width: auto;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
  border: 0;
  border-radius: 3px;
  box-shadow: inset 0 0 0 0 $pink-btn-text;
  color: white;
  transition: all ease 0.8s;
  &:hover {
    box-shadow: inset 0 -100px 0 0 $pink-btn-text;
  }
}
