@import '../styles';
$journal-width: 93.907vw;

.journal-wrapper{
  margin-left: 100px;
  width: $journal-width;
  height: auto;
  // position: absolute;
  // right: 0;
  // top: 0;
  // @import 'secondaryNavBar';
  border: 1px solid $gray-background;
  .journal-cont-par{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52.8429vh;
    width: 50%;
    // border: 1px solid yellow;
    span{
      height: 27.264vh;
      width: 31.198vw;
      border: 1px solid red;
      display: flex;
      flex-direction: column;
      h1{
       font-size: 24px;
       line-height: 34px;
       color: #333333;
      }
      p{
        font-size: 16px;
        line-height: 26px;
        color: #999999;
      }
      .journal-btn{
        width: 7.969vw;
        height: 10vh;
        border: 1px solid blue;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .journal-container-one{
    display: flex;
    height: auto;
    width: $journal-width;
    background-color: $near-white-background-2;
    .journal-img-store{
      // border: 1px solid green;
      height: 52.8429vh;
      width: 50%;
      background-image: url('../../styles/images/journal/journalstore.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .journal-container-two{
    display: flex;
    height: auto;
    width: $journal-width;
    background-color: $gray-background;
    .journal-img-lady{
      height: 52.8429vh;
      width: 50%;
      background-image: url('../../styles/images/journal/journallady.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    // .journal-cont-par{
    //   display: flex;
    //   justify-content: center;
    //   flex-direction: column;
    //   height: 52.8429vh;
    //   width: 50%;
    //   // border: 1px solid yellow;
    //   h1{}
    //   p{}
    //   .journal-btn{
    //
    //   }
    // }
  }
  .empty-foot{
    width: $journal-width;
    height: 437px;
  }
  .empty-foot-holder{
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -1;
    width:$journal-width;
    height: 437px;
    position: fixed;
    bottom: 0;
    background-color: $bottom-pink;
  }
}
