@import '../styles';

.productNav {
  height: 80px;
  background: #fff;
  position: fixed;
  z-index: 1;
  text-align: center;
  border-bottom: 1px solid #e8e8e8;
  line-height: 80px;
  left: 100px;
  right: 0px;
  overflow: hidden;
  nav {
    width: 50%;
    margin: 0 auto;
    z-index: 9999;
    position: relative;
    a {
      display: inline-block;
      margin: 0 15px;
      font-family: $header;
      cursor: pointer;
      color: #333;
      font-size: 12px;
      letter-spacing: 1px;
      &.active {
        color: $pink-btn-text;
      }
    }
  }
  .productDetails {
    position: absolute;
    width: 100%;
    transition: top 0.5s;
    top: 100px;
    h2 {
      width: 49%;
      float: left;
      text-align: left;
      margin: 0;
      padding: 30px;
      font-family: $headerlight;
      text-transform: uppercase;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 2px;
    }
    .pNavRight {
      padding-right: 30px;
      text-align: right;
      width: 49%;
      float: right;
      div {
        margin-bottom: 15px;
        span {
          font-size: 14px;
          position: relative;
          top: 2px;
          right: 10px;
          font-family: $header;
          color: $pink-btn-text;
        }
        .bagEmail {

        }
      }
    }
    &.pScrolled {
      top: 0;
    }
  }
}
.productPageHolder {
  background: $gray-background;
  margin-bottom: 435px;
  position: relative;
  z-index: 100;
}
.itemContainer {
  padding-left: 100px;
  overflow: hidden;
  position: relative;
  .itemBg {
    padding: 100px;
    text-align: center;
    height: 95vh;
    width: 100%;
    position: fixed;
    left: 0;
    padding-left: 200px;
    .bgimage {
      opacity: 0.88;
      position: absolute;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      left: 100px;
      right: 0px;
      height: 80vh;
    }
    .productPhotos {
      cursor: -webkit-zoom-in;
      cursor: -moz-zoom-in;
      position: relative;
      width: 50%;
      margin-left: 50px;
      height: 80vh;
      .photoZoomed {
        width: 120%;
        margin-left: -10%;
        height: 150%;
        margin-top: -50px;
        position: absolute;
        opacity: 0;
        overflow: hidden;
        background-size: 100% auto;
        background-repeat: no-repeat;
        transition: opacity 0.5s;
        background-position: 0px -30px;
      }
      img {
        opacity: 1;
        transition: opacity 0.5s;
        width: auto;
        height: auto;
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin: 0 auto;
        pointer-events: none;
      }
      &:hover {
        .photoZoomed {
          opacity: 1;
        }
        img {
          opacity: 0;
        }
      }
    }
  }
  .itemDetails {
    .itemGrid {
      padding: 100px;
      text-align: center;
      height: 200vh;
      margin-left: -25px;
      &:after {
        display: table;
        content:'';
        clear: both;
      }
    }
  }
}

.itemGrid1 {
  width: 100%;
  text-align: center;
  float: left;
  min-height: 1px;
  padding-left: 25px;
}

.itemGrid2 {
  width: 33.33%;
  float: left;
  min-height: 1px;
  padding-left: 25px;
  position: relative;
  .grid2Panel {
    height: 80vh;
    position: relative;
    .panel {
      position: absolute;
      top: 50%;
      width: 100%;
      margin-top: -60px;
      span {
        font-size: 12px;
        font-family: $headerlight;
        font-weight: 400;
        color: #999;
        line-height: 1.6;
      }
      h1 {
        font-family: $headerlight;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 1.4;
        letter-spacing: 2px;
        margin-top: 10px;
        margin-bottom: 0;
      }
    }
  }

}

.panelOffers {
  div {
    margin-bottom: 15px;
    .bagEmail {
      margin-top: 15px;
      font-weight: 700;
    }
    a {
      display: block;
      margin-top: 15px;
      font-size: 15px;
      color: #333;
      text-decoration: none;
      font-family: $headerlight;
    }
  }
}

.prodDescr {
  margin: 0;
  position: relative;
  padding-top: 20px;
  overflow: hidden;
  h2 {
    margin-top: 0;
    font-size: 15px;
    font-family: $header;
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 2px;
    position: relative;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
  }
  .extraDesc {
    max-height: 800px;
    margin-bottom: 16px;
    transition: all 0.5s;
    position: relative;
    padding-top: 20px;
    overflow: hidden;
    p {
      margin: 0 0 15px 0;
      text-align: center;
      font-size: 15px;
      line-height: 1.6;
      color: #999;
      font-family: $headerlight;
      strong {
        width: 42%;
        text-align: right;
        margin-right: 15px;
        display: inline-block;
        margin-bottom: 4px;
        font-size: 15px;
      }
      span {
        display: inline-block;
        width: 47%;
        text-align: left;
        color: #333!important;
        font-size: 13px!important;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
    &:after {
      position: absolute;
      content: '';
      width: 30px;
      height: 1px;
      background: #222;
      left: 50%;
      margin-left: -15px;
      transition: all 0.5s;
      top: 0;
    }
    &.hidden {
      padding-top: 0;
      padding-bottom: 0;
      max-height: 0;
      border-top: 0;
      margin-bottom: 0;
      border-bottom: 0;
      &:after {
        width: 0px;
        margin-left: 0;
      }
    }
  }
}
.proWrap {
  padding: 25px;
  width: 100%;
}
.productStats {
  padding-left: 100px;
  background: #fff;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
.sGrid {
  margin: 0;
  padding: 0;
  margin-left: -25px;
  .gridItem {
    float: left;
    min-height: 1px;
    padding-left: 25px;
    vertical-align: top;
    .icon {
      padding: 0 20px;
      text-align: center;
      line-height: 45px;
      min-height: 54px;
      background-color: #fffbfb;
      border: 1px solid #ebebeb;
      img {
        display: inline-block;
        line-height: 52px;
        position: relative;
        top: 8px;
        margin-right: 15px;
        max-height: 25px;
        max-width: 25px;
      }
      h3 {
        letter-spacing: 1px;
        line-height: 52px;
        display: inline-block;
        margin: 0;
        position: relative;
        top: 1px;
        font-size: 12px;
        color: #333;
        font-family: $headerlight;
        font-weight: 100;
        text-transform: uppercase;
      }
    }
  }
  &:after {
    display: table;
    content: '';
    clear: both;
  }
}


@media screen and(min-width: 769px) {
  .itemGrid1 {
    width: 50%;
  }
  .itemGrid2 {
    width: 33.33%;
  }
  .sGrid {
    .gridItem {
      width: 25%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .itemGrid2 {
    width: 45%;
  }

  .itemContainer {
    .itemBg {
      .productPhotos {
        cursor: pointer;
        &:hover {
        img {
          opacity: 1;
        }
      }
    }
  .photoZoomed {
    display: none;
  }
}
}
}

@media screen and (max-width: 1080px) {
  .productNav {
    nav {
      margin: 0;
      text-align: left;
      padding-left: 30px;
    }
    .productDetails {
      h2 {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .itemContainer{
    .itemDetails {
      .itemGrid {
        height: auto;
      }
    }
    .itemBg {
      margin-bottom: 0;
      height: auto;
      position: relative;
      padding-bottom: 0;
      padding-left: 100px;
      .bgimage {
        display: none;
      }
      .productPhotos {
        width: 100%;
        height: 60vh;
        margin: 0 auto;
      }
    }
  }
  .itemGrid2 {
    width: 100%;
    .grid2Panel {
      height: auto;
      position: relative;
      .panel {
        position: relative;
        margin: 0;
      }
    }
  }
}


@media screen and (max-width: 800px) {
  .itemContainer {
    padding-left: 0;
    margin-top: -30px;
    .itemBg {
      padding: 100px 100px 20px 100px;
      .productPhotos {
        margin: 0;
        position: relative;
        height: auto;
        margin-top: 40px;
        img {
          max-height: 60vh;

        }
      }
    }
  .itemDetails {
    .itemGrid {
      padding: 20px 0 0 0;
      margin-left: 0;
      .itemGrid2 {
        padding: 0;
        .grid2Panel {
          padding: 0 30px;
          height: auto;
          h1 {

          }
        }
      }
    }
  }
  }
  .productNav {
    display: none;
  }
  .itemGrid2 {
    padding: 0;
    width: 100%;
    .grid2Panel {
      padding: 0 30px;
      height: auto;
      &:first-child {
        border-bottom: 1px solid #e9e9e9;
      }
      .panel {
        top: 0;
        h1 {
          display: block;
          text-align: center;
          margin: 0 -30px;
          padding: 0 30px;
          margin-bottom: 30px;
          padding-bottom: 8px;
        }
      }
    }
    :nth-child(2) {
      margin-bottom: 15px;
      padding: 0!important;
    }
  }
  .panelOffers {
    div {
      margin-bottom: 15px;
      .bagEmail {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 9999;
        width: 100%;
        border-radius: 0;
        line-height: 60px;
        height: 60px;
      }
      a {
        margin-top: 35px;
      }
    }
  }
  .prodDescr {
    .extraDesc {
      p {
        font-size: 16px;
        strong {
          width: 100%;
          text-align: left;
          border-bottom: 1px solid #ddd;
          margin-right: 0;
        }
        span {
          width: 100%;
          text-align: right;
          float: right;
          margin-top: -23px;
          margin-bottom: 0!important;
        }
      }
    }
  }
  .productStats {
    padding-left: 0px;
  }
  .sGrid {
    .gridItem {
      width: 50%;
      .icon {
        margin-bottom: 25px;
        h3 {
          font-weight: bold;
          line-height: 20px;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .sGrid {
    .gridItem {
      .icon {
        min-height: 100px;
        img {
          margin-right: 0;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .sGrid {
    .gridItem {
      width: 100%;
      .icon {
        text-align: left;
        min-height: 0;
        margin-bottom: 15px;
      }
    }
  }
}
