@import '../styles';

.instagram-container {
  height: auto;
  width: 100%;
  padding-left: 110px;
  padding: 10px;
  background-color: $gray-background;
  margin: auto;

  .instagram-stuff {
    padding: 10px;
    padding-left: 100px;
    height: auto;
    width: 100%;
    background-color: white;

    .instagram-post {
      display: inline-block;
      width: 19.3%;
      height: auto;
      margin-left: 0.3%;
      margin-top: 0.5%;
      background-color: gray;
      position: relative;
      img {
        width: 100%;
        height: auto;
        margin: auto;
        cursor: pointer;
      }
      .overlay {
        background-color: rgba(0,0,0,0.8);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: opacity 0.25s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        // font: $header;
        // color: white;
        .igIcon {
          color: white;
          padding: 5px 10px 0 5px;
          font-size: 18pt;
          margin-bottom: 9px;
        }
        .igLink {
          font-size: 10pt;
          line-height: 1;
          padding: 3px 6px;
          margin: 10px;
          margin-top: 37px;
          color: white;
          font-family: $header;
          color: white;
        }
        .igDate {
          margin-top: 10px;
          font-family: $header;
          font-size: 8pt;
          line-height: 8pt;
          letter-spacing: 1px;
          color: white;
        }
      }
      &:hover {
        .overlay {
          opacity: 1;
        }
      }
    }

  }
}
