// Colors //

$topPink : #FDEAE6 ;
$bottomPink : #FEE9E5 ;
$grayBackground : #F3F3F5 ;
$nearWhiteBackground : #F9F9F9 ;
$blackButton : #333333 ;
$pinkBtnText : #FFDCD3 ;
$nearWhiteBackground2 : #FFFBFB ;
$blackSidebar : #191919 ;

// Fonts //


body {
  margin: 0px;
}
