
<h1>PRODUCTS</h1>
<div style="width:100vw; height: auto; display: flex; flex-wrap: wrap; border: 1px solid purple;" >
    <div  style="width: 20vw; height: auto; border: 1px solid red;" ng-repeat='watch in listWatches'>
      <p>{{watch.name}}</p>
      <button type="button" name="button" ng-click="postCart(watch)">add</button>
    </div>
</div>

<br>
<br>

<h1>CART</h1>
<div style="width:100vw; height: auto; display: flex; flex-wrap: wrap; border: 1px solid purple;" >
  <h1 ng-if="!cart">Cart Empty</h1>
    <div  style="width: 20vw; height: auto; border: 1px solid red;" ng-repeat='item in cart'>
      <p>{{item.name}}</p>
      <p>sub-price: {{item.subPrice|currency}}</p>
      <button type="button" name="button" ng-click="putCart(item,'add')">+</button>
      <input type="text" placeholder="{{item.quantity}}" ng-model='quantity'>
      <button type="button" name="button" ng-click="putCart(item,'sub')">-</button>
      <button type="button" name="button" ng-click="deleteCartItem(item)">REMOVE</button>
    </div>

</div>

<h1>Total: {{total|currency}}</h1>
<button type="button" name="button" ng-click='deleteAllCart()'>Delete all</button>
