<nav class="overall-navbar-container-full">
  <div class="overall-navbar-container-fixed">
    <div class="overall-navbar-container">
      <div class="navbar-logo">
        <a ui-sref="home">
          <img src="./styles/images/icons/logo.png" />
        </a>
      </div>
      <div class="navbar-logo-white">
        <a ui-sref="home">
          <img src="./styles/images/icons/logo-white.png" />
        </a>
      </div>

      <div id="submenus" class="submenus-container">
        <div class="navbar-ham">
          <div class="bar top"></div>
          <div class="bar middle" id="center"></div>
          <div class="bar bottom"></div>
        </div>

        <div class="navbar-white-container"></div>

        <div class="submenus">
          <div id="submenu" class="submenu1">
            <div class="submenu1-paul-valentine">
              <img src="./styles/images/icons/logo-text.png" />
            </div>
            <div id="submenu-initial" class="submenu-initial">
              <div class="submenu1-links">
                <a ui-sref="watches">WATCHES</a>
                <br><br>
                <a ui-sref="straps">STRAPS</a>
                <br><br>
                <a ui-sref="shop_instagram">SHOP INSTAGRAM</a>
                <br><br>
                <span href="#">+ Brand</span>
                <br><br>
                <span href="#">+ Customer Care</span>
              </div>
            </div>
          </div>

          <div id="submenu-customer" class="submenu-customer">
            <div class="submenu-customer-links">
              <a ui-sref="faq">FAQ</a>
              <br><br>
              <a ui-sref="returns">Returns</a>
              <br><br>
              <a ui-sref="shipping">Shipping</a>
              <br><br>
              <a ui-sref="contact">Contact</a>
            </div>
          </div>

          <div id="submenu-brand" class="submenu-brand">
            <div class="submenu-brand-links">
              <a ui-sref="about">About</a>
              <br><br>
              <a ui-sref="lookbook">Lookbook</a>
              <br><br>
              <a ui-sref="journal">Journal</a>
              <br><br>
              <a ui-sref="store_finder">Store Finder</a>
            </div>
          </div>

        </div>
      </div>

      <div id="bag" class="navbar-bag">
        <div class="gray-filter-layer"></div>
        <img class="bag-icon" src="./styles/images/icons/cart.png" />
        <img class="bag-icon-white" src="./styles/images/icons/cart-white.png" />
        <h3>USD</h3>
        <div class="cart-dir-container">
          <div class="navbar-your-bag">
            <h1>YOUR BAG</h1>
          </div>

          <div class="navbar-bag-items" ng-if="product">

          </div>

          <div class="navbar-bag-noitems" ng-if="!product">
            <h3>Your bag is currently empty.</h3>
          </div>

          <div class="navbar-bag-bottom">
            <div class="navbar-bag-total">
              <h2>TOTAL</h2>
              <br>
              <div class="navbar-paynowbtn">PAY NOW SECURELY</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</nav>
