<div class="productPageHolder" ui-view="header" autoscroll="true">
    <overall-navbar-dir></overall-navbar-dir>
    <div class="productNav">
        <nav>
            <a class="page-scroll overview" ng-class="{pinkA: scrollP == 'ov'}" ng-click="scrollToThis(0)">OVERVIEW</a>
            <a class="page-scroll details" ng-class="{pinkA: scrollP == 'det'}" ng-click="scrollToThis($details)">DETAILS</a>
            <a class="page-scroll inspiration" ng-class="{pinkA: scrollP == 'insp'}" ng-click="scrollToThis($inspiration)">INSPIRATION</a>
            <a class="page-scroll overview" ng-if="thP.straps" ng-class="{pinkA: scrollP == 'str'}" ng-click="scrollToThis($straps)">STRAPS</a>
        </nav>

        <div class="productDetails" id="overview">
            <h2>{{thP.name}}</h2>
            <div class="pNavRight">
                <div>
                    <span>{{thP.price | currency}}</span>
                    <button class="slidebtn bagEmail" type="button" name="button">{{buttonText}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="itemContainer" autoscroll="true">
        <div class="itemBg">
            <div class="bgimage" ng-style="{'background-image': 'url(' + thP.background + ')'}"></div>
            <div class="productPhotos">
                <div class="photoZoomed" ng-style="{'background-image': 'url(../../styles/images/products/' + thP._id + '.png)'}"></div>
                <img ng-src="../../styles/images/products/{{thP._id}}.png" alt="">
            </div>
        </div>
        <div class="itemDetails">
            <div class="itemGrid">
                <div class="itemGrid1"></div>
                <div class="itemGrid2">
                    <div class="grid2Panel">
                        <div class="panel" id="sctl">
                            <span ng-if="thP.inStock === false">SOLD OUT</span>
                            <h1>{{thP.name}}</h1>
                            <div class="panelOffers">
                                <div>
                                    <button class="slidebtn bagEmail" type="button" name="button">{{buttonText}} {{thP.inStock === true ? " - $" + thP.price + ".00"  : ""}}</button>
                                    <a ui-sref="contact">send gift hint</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid2Panel dets">
                      <div class="panel">
                        <div class="prodDescr" id="details">
                          <h2 ng-click="sel = 'des'" id="spcs">Description</h2>
                          <div class="extraDesc" ng-class="{false: 'hidden'}[sel === 'des']">
                            <p>{{thP.description}}</p>
                          </div>
                          <!-- <a class="readMoreLink">Read More</a> -->
                          <h2 ng-click="sel = 'spec'" ng-show="thP.specs !== undefined">Specifications</h2>
                          <div class="extraDesc" ng-class="{false: 'hidden'}[sel === 'spec']" ng-show="thP.specs !== undefined">
                            <p>
                              <strong>Case:</strong><span>&nbsp;{{thP.specs.case}}</span><br>
                              <strong>Material:</strong><span>&nbsp;{{thP.specs.material}}</span><br>
                              <strong>Case Color:</strong><span>&nbsp;{{thP.specs.caseColor}}</span><br>
                              <strong>Case Thickness:</strong><span>&nbsp;{{thP.specs.caseThickness}}</span><br>
                              <strong>Water Resistant:</strong><span>&nbsp;{{thP.specs.waterResistant}}</span><br>
                              <strong>Movement:</strong><span>&nbsp;{{thP.specs.movement}}</span><br>
                              <strong>Dial Color:</strong><span>&nbsp;{{thP.specs.dialColor}}</span><br>
                              <strong>Strap:</strong><span>&nbsp;{{thP.specs.strap}}</span><br>
                              <strong>Strap Width:</strong><span>&nbsp;{{thP.specs.strapWidth}}</span><br>
                              <strong>Interchangeable Straps:</strong><span>&nbsp;{{thP.specs.interchangeableStraps}}&nbsp;</span>
                            </p>
                          </div>
                          <h2 ng-click="sel = 'shp'">Shipping / Returns</h2>
                          <div class="extraDesc" ng-class="{false: 'hidden'}[sel === 'shp']">
                            <p>Free shipping worldwide. <br> Fast and safe with DHL. <br> Easy returns within 14 days of delivery.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<section class="productStats">
  <div class="proWrap">
    <div class="sGrid">
      <div class="gridItem">
        <div class="icon">
          <img src="../../styles/images/icons/icon-shipping.png" alt="">
          <h3>Free Shipping Worldwide</h3>
        </div>
      </div>
      <div class="gridItem">
        <div class="icon">
          <img src="../../styles/images/icons/icon-returns.png" alt="">
          <h3>Simple Returns</h3>
        </div>
      </div>
      <div class="gridItem">
        <div class="icon">
          <img src="../../styles/images/icons/icon-warranty.png" alt="">
          <h3>2 Year Warranty</h3>
        </div>
      </div>
      <div class="gridItem">
        <div class="icon">
          <img src="../../styles/images/icons/icon-card.png" alt="">
          <h3>Safe Payments</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="productGallery" id="inspiration">
  <div class="proWrap mobile">
    <div class="mHeader">
      <h2>{{mHead}}</h2>
    </div>
  </div>
  <div class="gGrid mobile">
        <div class="gridCell">
          <img ng-src="{{thP.gallery[0]}}" alt="">
        </div>
        <div class="gridCell">
          <img ng-src="{{thP.gallery[1]}}" alt="">
        </div>
        <div class="gridCell 3rdCell">
          <img ng-src="{{thP.gallery[2]}}" alt="">
        </div>
        <div class="gridCell 4thCell">
          <img ng-src="{{thP.gallery[3]}}" alt="">
        </div>
  </div>

  <div class="proWrap notMobile">
    <div class="gGrid2">
    </div>
  </div>
</section>
<section class="productReviews">
  <div class="productReviewsWrap">
    <div class="prContainer">
      <div class="prHeader">
        <h2>CUSTOMER REVIEWS</h2>
        <button type="button" class="slidebtn" ng-click="formAppear ? formAppear = false : formAppear = true" name="button">WRITE A REVIEW</button>
      </div>
      <div class="prContent">
        <div class="reviewForm" ng-if="formAppear">
          <div class="newReview">
            <h3>WRITE A REVIEW</h3>
            <div class="prNameBox formBox">
              <label>Name</label>
              <input class="prName" type="text" ng-model="reviewName" name="name" placeholder="Enter your name">
            </div>
            <div class="prEmailBox formBox">
              <label>Email</label>
              <input class="prEmail" type="text" name="email" placeholder="john.smith@example.com">
            </div>

            <div class="prRatingBox formBox">
              <label>Rating</label>
              <div class="starRating">
                <fieldset class="rating">
                  <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="5 stars"></label>
                  <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="4 stars"></label>
                  <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="3 stars"></label>
                  <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="2 stars"></label>
                  <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="1 star"></label>
                </fieldset>
              </div>
            </div>

            <div class="prTitleBox formBox">
              <label>Review Title</label>
              <input class="prTitle" type="text" ng-model="reviewTitle" name="name" placeholder="Give your review a title">
            </div>

            <div class="prBodyBox formBox">
              <label>Body of Review {{"(" + (1500 - reviewBody.length) + ")"}}</label>
              <textarea class="prBody" type="text" ng-model="reviewBody" name="body" rows="10" max-length ="1500" placeholder="Write your comments here"></textarea>
            </div>
          </div>
          <button class="slidebtn" ng-click="submitReview(reviewName, reviewTitle, reviewBody)">SUBMIT REVIEW</button>
        </div>

        <div class="prReviews" ng-if="thP.reviews.length >= 1">
          <div class="reviewBox">
            <span class="thisReview" ng-repeat="review in thP.reviews">
              <div class="thisReviewHeader">
                <span><i ng-show="review.rating >= 1" class="fa fa-star" aria-hidden="true"></i><i ng-show="review.rating >= 2" class="fa fa-star" aria-hidden="true"></i><i ng-show="review.rating >= 3" class="fa fa-star" aria-hidden="true"></i><i ng-show="review.rating >= 4" class="fa fa-star" aria-hidden="true"></i><i ng-show="review.rating >= 5" class="fa fa-star" aria-hidden="true"></i></span>
                <h3>{{review.title}}</h3>
                <span class="byline"><strong>{{review.name}}</strong> on <strong>{{review.date | date:'mediumDate'}}</strong></span>
              </div>
              <div class="thisReviewContent">
                <p>{{review.body}}</p>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="productStraps" ng-if="thP.straps">
  <div class="proWrap">
    <div class="bGrid">
      <div class="bGridItem c2"></div>
      <div class="bGridItem">
        <div class="content">
          <h2>Want another strap, Babe?</h2>
          <p>All Paul Valentine watches are designed to suit every strap so that you can easily change your watch to suit any occasion. Mix and match watches and straps to find your perfect style.</p>
          <br>
          <!-- <a class="btn notMobile prev">
            <img src="../../styles/images/icons/arrow-left.png" alt="">
          </a>
          <a class="btn notMobile next">
            <img src="../../styles/images/icons/arrow-right.png" alt="">
          </a> -->
          <!-- <div class="bGrid mobile">
            <div class="bGridItem">
              <a class="btn prev">
                <img src="../../styles/images/icons/arrow-left.png" alt="">
              </a>
            </div>
            <div class="bGridItem">
              <a class="btn next">
                <img src="../../styles/images/icons/arrow-right.png" alt="">
              </a>
            </div>
          </div> -->
        </div>
      </div>
      <div class="bGridItem cmonwork">
        <div class="bGridItemItem">
          <a ui-sref="product({id:moreStraps[0]._id})">
            <img ng-src="{{moreStraps[0].image}}" alt="">
            <div class="productInfo">
              <button class="slidebtn" name="button">+ BAG - {{moreStraps[0].price | currency}}</button>
            </div>
          </a>
        </div>
        <div class="bGridItemItem">
          <a ui-sref="product({id:moreStraps[1]._id})">
            <img ng-src="{{moreStraps[1].image}}" alt="">
            <div class="productInfo">
              <button class="slidebtn" name="button">+ BAG - {{moreStraps[1].price | currency}}</button>
            </div>
          </a>
        </div>
        <div class="bGridItemItem">
          <a ui-sref="product({id:moreStraps[2]._id})">
            <img ng-src="{{moreStraps[2].image}}" alt="">
            <div class="productInfo">
              <button class="slidebtn" name="button">+ BAG - {{moreStraps[2].price | currency}}</button>
            </div>
          </a>
        </div>
        <!-- <div class="bGridItemItem" ng-if="moreStraps[3]">
          <a ui-sref="product({id:'{{moreStraps[3]._id}}'})">
            <img ng-src="{{moreStraps[3].image}}" alt="">
            <div class="productInfo">
              <button class="slidebtn" name="button">+ BAG - {{moreStraps[3].price | currency}}</button>
            </div>
          </a>
        </div> -->
      </div>
    </div>
  </div>
</section>
<section class="productRelated homeProducts">
  <div class="relatedHead">
    <h2>{{rHead}}</h2>
  </div>
  <div class="proWrap innerWrap">
    <div class="grid">
      <div class="grid-item" ng-repeat="sim in similar">
         <a ui-sref="product({id:'{{sim._id}}'})">
          <img ng-src="{{sim.image}}" alt="">
          <div class="productInfo">
            <h3>{{sim.name}}</h3>
            <p>{{sim.price | currency}}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- </div> -->
<inbox-love-dir></inbox-love-dir>
</div>
<revealed-footer-dir></revealed-footer-dir>
