<overall-navbar-dir></overall-navbar-dir>

<div class="cart-overall-container" ui-view="header" autoscroll="true">
  <div class="cart-header">
    <h1>SHOPPING BAG</h1>
  </div>

  <div class="cart-column-titles">
    <div class="cart-title-product">
      <h3>Product</h3>
    </div>

    <div class="cart-title-price">
      <h3>Price</h3>
    </div>

    <div class="cart-title-quantity">
      <h3>Quantity</h3>
    </div>

    <div class="cart-title-total">
      <h3>Total</h3>
    </div>
  </div>

  <div class="cart-item-info" ng-repeat="item in cart">
    <div class="cart-item-img">
      <img src={{item.image}} />
    </div>

    <div class="cart-item-product">
      <h2>{{item.name}}</h2>
      <button name="button" type="button" ng-click="deleteCartItem(item)">Remove</button>
    </div>

    <div class="cart-item-price">
      <h6>{{item.price | currency}}</h6>
    </div>

    <div class="cart-item-quantity-container">
      <div class="cart-item-quantity">
        <div class="cart-minus-btn" ng-click="putCart(item, 'sub')">-</div>
        <input class="cart-item-qty" placeholder={{item.quantity}}></input>
        <div class="cart-add-btn" ng-click="putCart(item, 'add')">+</div>
      </div>
    </div>

    <div class="cart-item-total">
      <h6>{{item.subPrice | currency}}</h6>
    </div>
  </div>

  <div class="cart-bottom">
    <h3>Subtotal <span>{{total | currency}}</span></h3>
    <br>
    <h3><i>Shipping & taxes calculated at checkout</i></h3>
    <br>
    <div class="cart-updatebag-btn">UPDATE BAG</div>
    <br><br>
    <div class="cart-checkout-btn" ui-sref="checkout">CHECK OUT</div>
  </div>
</div>

<revealed-footer-dir></revealed-footer-dir>
