// Colors //

$top-pink : #FDEAE6 ;
$bottom-pink : #FEE9E5 ;
$gray-background : #F3F3F5 ;
$near-white-background : #F9F9F9 ;
$black-button : #333333 ;
$pink-btn-text : #FFDCD3 ;
$near-white-background-2 : #FFFBFB ;
$black-sidebar : #191919 ;
$gray-sidebar : #222222 ;
$light-gray : #999999;

// Fonts //

$header : 'Avenir LT Std 35 Light';
$headerlight: 'Nunito', sans-serif;

i {
  font-style: italic;
}

.slidebtn {
  background-color: #333;
  display: inline-block;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  font-family: $header;
  width: auto;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
  border: 0;
  border-radius: 3px;
  box-shadow: inset 0 0 0 0 $pink-btn-text;
  color: white;
  transition: all ease 0.8s;
  &:hover {
    box-shadow: inset 0 -100px 0 0 $pink-btn-text;
  }
}
html {
  background-color:$bottom-pink;
}
body {
  margin: 0px;
}
