// Colors //

$top-pink : #FDEAE6 ;
$bottom-pink : #FEE9E5 ;
$gray-background : #F3F3F5 ;
$near-white-background : #F9F9F9 ;
$black-button : #333333 ;
$pink-btn-text : #FFDCD3 ;
$near-white-background-2 : #FFFBFB ;
$black-sidebar : #191919 ;
$gray-sidebar : #222222 ;
$light-gray : #999 ;


// Fonts //

$header : 'Avenir LT Std 35 Light';


body {
  margin: 0px;
}
